h1{
    background-color: lightsteelblue;
    width: 300px;
    height: 300px;
    border: 10px solid lightcoral;
    padding-top: 50px;
    margin: auto
}
a{
    border: 2px solid rgb(111, 0, 255);
    
}